<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Gallery</title>
</head>
<body>
    <div id="main">
        <h2>Gallery</h2>
        <div class="gallery_img">
            {% for image in images %}  
            <a href="image.php?img={{ image }}">
                <img src="img/small/{{ image }}"/>
            </a>
            {% endfor %}
        </div>    
    </div>
</body>
</html>